captum==0.6.0
Cython==0.29.34
fastapi==0.95.1
httpx==0.24.0
networkx==3.1
nvgpu==0.10.0
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
pip==23.1.2
sympy==1.11.1
torch-model-archiver==0.7.1
torch-workflow-archiver==0.2.7
torchaudio==0.12.0
torchserve==0.7.1
torchtext==0.13.0
torchvision==0.13.0
transformers==4.28.1
triton==2.0.0
uvicorn==0.22.0
