name: remote ssh command
on:
  push:
    branches: [ main ]
    paths:
      - '**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using ssh key
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd /root/dl_inference
          git pull
          docker stop test || True
          docker rm test || True
          docker build . -t test
